/*
declaration block::after

selector{
    property: value;
    property2: value2;
}
*/

body{
    background-color:rgb(187, 164, 33);
    color: white; 
      
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 250px;
}

h1{
    text-align: center;
}

form{
    margin-right: 200px;
    text-align: center;
    text-decoration-color: black;
    text-decoration-thickness: 5px;
    color: black;
}



h3{
    text-align: center;
    margin-right: 200px;
    color: black;
}

 